.container {
    display: flex;
    flex-direction: row;
}

.content {
    display: inline-block;
    width: 100%;
}

.head {
    font-size: 12px;
    padding: 4px 0;
    color: #1C1C1C;
}

.timePassed {
    color: #909090;
    margin-left: 6px;
}

.message {
    font-size: 14px;
    color: #1A1A1B;
    line-height: 21px;
}

.avatar {
    padding: 0 10px;
}

.avatar img {
    border-radius: 50%;
}

.commentIcon {
    display: inline-block;
    height: 18px;
    width: 18px;
    background: url(../../../public/icons/comment-18dp.svg) no-repeat;
    vertical-align: middle;
    margin-right: 4px;
}

.actions {
    padding: 8px 0;
    font-size: 12px;
    font-weight: bold;
    color: #909090;
}

.action {
    display: inline-block;
}

.action:hover {
    cursor: pointer;
}
